<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" th:href="@{/assets/css/admin.css}">
        <title>调查问卷后台管理-首页</title>
    </head>
    <body>
        <div style="font-size:15px;">
            <div id="analysis" style="width: 600px; height: 400px;"></div>
        </div>
        <div th:text="${questionnaireId}"></div>

        <button class="am-btn am-btn-default am-btn-xs am-text-danger am-round" onclick="Close();">
            关闭
        </button>

        <script type="text/javascript" th:src="@{/assets/plugins/amcharts/amcharts.js}"></script>
        <script type="text/javascript" th:src="@{/assets/plugins/amcharts/pie.js}"></script>
        <script type="text/javascript" th:src="@{/assets/plugins/amcharts/themes/light.js}"></script>
        <script type="text/javascript" th:src="@{/assets/js/analysis.js}"></script>
        <script type="text/javascript">
            makeCharts('light', '#FFFFFF');
            function Close() {
                window.close();
            }
        </script>
    </body>
</html>