<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <link rel="icon" type="image/x-icon" th:href="@{/assets/img/questionnaire.ico}">
        <link type="text/css" rel="stylesheet" th:href="@{/assets/plugins/bootstrap-4.6.0-dist/css/bootstrap.css}"/>
        <link rel="stylesheet" href="https://s0.pstatp.com/cdn/expire-1-M/amazeui/2.3.0/css/amazeui.min.css"/>
        <link rel="stylesheet" th:href="@{/assets/css/admin.css}">
        <link rel="stylesheet" th:href="@{/assets/css/questionnaire.css}">
        <script type="text/javascript" th:src="@{/assets/js/jquery-3.6.0.min.js}"></script>
        <script type="text/javascript" th:src="@{/assets/js/jquery.min.js}"></script>
        <script type="text/javascript" th:src="@{/assets/js/app.js}"></script>
        <title>调查问卷后台管理-首页</title>
    </head>
    <body>
        <!-- 头部 -->
        <header class="am-topbar admin-header" th:fragment="header">
            <div class="am-topbar-brand"><img th:src="@{/assets/img/index.png}"></div>

            <div class="am-collapse am-topbar-collapse" id="topbar-collapse">
                <ul class="am-nav am-nav-pills am-topbar-nav admin-header-list">

                    <!--<li class="am-dropdown notice" data-am-dropdown>
                        <button class="am-btn am-btn-primary am-dropdown-toggle am-btn-xs am-radius am-icon-bell-o"
                                data-am-dropdown-toggle> 消息管理<span class="am-badge am-badge-danger am-round">6</span>
                        </button>
                        <ul class="am-dropdown-content">
                            <li class="am-dropdown-header">所有消息都在这里</li>
                            <li><a href="#">未激活会员 <span class="am-badge am-badge-danger am-round">99+</span></a></li>
                            <li><a href="#">信息反馈</a></li>
                        </ul>
                    </li>-->

                    <!--<li class="topMenu">
                        <a href="#" th:utext="${map.user.userName}">在线用户</a>
                    </li>-->

                    <li class="topFunction">
                        <p class="am-icon-dashboard" style="color:#0071ff;margin-top: -2px;font-size: 20px;margin-right: 10px;">欢迎系统管理员:</p>
                        <p>
                            <select id="userOperating" data-am-selected="{btnWidth: 130, btnSize: 'sm', btnStyle: 'default'}">
                                <option id="onlineUser" value="">在线用户名</option>
                                <option value="personalCenter">个人中心</option>
                                <option value="exit">退出</option>
                            </select>
                        </p>
                    </li>

                    <li class="topFunction">
                        <p>
                            <select id="searchWay" data-am-selected="{btnWidth: 70, btnSize: 'sm', btnStyle: 'default'}">
                 a               <option value="questionnaire">问卷</option>
                                <option value="question">问题</option>
                                <option value="option">选项</option>
                            </select>
                        </p>
                        <p class="search"><input id="searchContent" type="text" class="am-form-field am-input-sm" placeholder="请输入搜索内容" value=""/></p>
                        <p>
                            <button id="search" class="am-btn am-btn-xs am-btn-default am-xiao"><i class="am-icon-search"></i></button>
                        </p>
                    </li>

                    <li class="am-hide-sm-only" style="float: right;margin-right: 20px;">
                        <a href="javascript:;" id="admin-fullscreen">
                            <span class="am-icon-arrows-alt"></span> <span class="admin-fullText">开启全屏</span>
                        </a>
                    </li>
                </ul>
            </div>
        </header>

        <!-- 中部 -->
        <div class="am-cf admin-main">
            <!-- 左侧边栏 -->
            <sidebar class="nav-navicon admin-main admin-sidebar" th:fragment="sidebar">
<!--                <div class="sideMenu am-icon-dashboard" style="color:#aeb2b7; margin: 10px 0 0 0;"> 欢迎系统管理员：清风抚雪</div>-->
                <div class="sideMenu">
                    <h3 class="am-icon-book on"><a href="#">调查问卷管理</a></h3>
                    <ul>
                        <li><a th:href="@{/questionnaire/index}">所有问卷</a></li>
                        <li><a th:href="@{/questionnaire/addQuestionnaire}">新建问卷</a></li>
                        <li><a th:href="@{/question/AllQuestion}">所有问题</a></li>
                        <li><a th:href="@{/question/addQuestion}">新建问题</a></li>
                        <li><a th:href="@{/option/AllOption}">所有选项</a></li>
                        <li><a th:href="@{/option/addOption}">新建选项</a></li>
                    </ul>
                    <h3 class="am-icon-user"><a href="#">用户管理</a></h3>
                    <ul>
                        <li>订单列表</li>
                        <li>合并订单</li>
                        <li>订单打印</li>
                        <li>添加订单</li>
                        <li>发货单列表</li>
                        <li>换货单列表</li>
                    </ul>
                    <h3 class="am-icon-tree"><a href="#">分类统计与汇总</a></h3>
                    <ul>
                        <li>会员列表</li>
                        <li>未激活会员</li>
                        <li>团队系谱图</li>
                        <li>会员推荐图</li>
                        <li>推荐列表</li>
                    </ul>
                    <h3 class="am-icon-volume-up"><a href="#">信息通知</a></h3>
                    <ul>
                        <li>用户回复</li>
                        <li>短信</li>
                        <li>邮件</li>
                        <li>客服</li>
                    </ul>
                    <h3 class="am-icon-gears"><a href="#">系统设置</a></h3>
                    <ul>
                        <li>权限</li>
                        <li>网站设置</li>
                    </ul>
                </div>

                <script type="text/javascript">
                    jQuery(".sideMenu").slide({
                        titCell: "h3", //鼠标触发对象
                        targetCell: "ul", //与titCell一一对应，第n个titCell控制第n个targetCell的显示隐藏
                        effect: "slideDown", //targetCell下拉效果
                        delayTime: 300, //效果时间
                        triggerTime: 150, //鼠标延迟触发时间（默认150）
                        defaultPlay: true, //默认是否执行效果（默认true）
                        returnDefault: true //鼠标从.sideMen移走后返回默认状态（默认false）
                    });
                </script>

            </sidebar>

            <!-- 内容 -->
            <div class="admin-content">
                <!-- 内容头部 -->
                <contentHeader class="navigation" th:fragment="contentHeader">
                    <ul id="show-hide">
                        <li>
                            <button type="button" class="am-btn am-btn-default am-radius am-btn-xs"><a th:href="@{/}">首页</a></button>
                        </li>
                        <!--<li id="hideHelp-li">
                            <button type="button" class="am-btn am-btn-default am-radius am-btn-xs">帮助中心
                                <a id="hideHelp" href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close="">×</a>
                            </button>
                        </li>-->
                    </ul>
                </contentHeader>

                <!-- 修改问卷弹出层 -->
                <div class="am-popup am-popup-inner" id="updateQuestionnaire">
                    <div class="am-popup-hd">
                        <h4 class="am-popup-title">修改问卷</h4>
                        <span data-am-modal-close class="am-close">&times;</span>
                    </div>
                    <div class="am-popup-bd">
                        <div class="am-form updateQuestionnaire">
                            <div class="am-form-group am-cf">
                                <div class="left am-text-my">问卷标题：</div>
                                <div class="right">
                                    <input id="qnTitle" type="text" class="am-input-my" placeholder="请输入问卷标题" value="">
                                </div>
                            </div>
                            <div class="am-form-group am-cf">
                                <div class="left am-text-my">问卷副标题：</div>
                                <div class="right">
                                    <input id="qnFuTitle" type="text" class="am-input-my" placeholder="请输入问卷副标题" value="">
                                </div>
                            </div>
                            <div class="am-form-group am-cf">
                                <div class="left am-text-my">问卷描述：</div>
                                <div class="right">
                                    <textarea id="qnDescription" class="am-input-my txFixedSize1" rows="2" placeholder="请输入问卷描述" value=""></textarea>
                                </div>
                            </div>

                            <div class="am-form-group am-cf">
                                <div class="popup-right">
                                    <p>
                                        <button class="Btn">修改</button>
                                        <button type="button" data-am-modal-close class="am-btn am-btn-default am-radius" id="updateCancel">取消
                                        </button>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 确认删除问卷模态窗口 -->
                <div class="am-modal am-modal-confirm" tabindex="-1" id="my-confirm">
                    <div class="am-modal-dialog" style="background-color: #a8a8a8;">
                        <div class="am-modal-hd" style="color: red;">删除提示</div>
                        <div class="am-modal-bd">
                            您确定要删除问卷记录吗？
                        </div>
                        <div class="am-modal-footer">
                            <span class="am-modal-btn" data-am-modal-cancel>取消</span>
                            <span class="am-modal-btn" data-am-modal-confirm>确定</span>
                        </div>
                    </div>
                </div>

                <!-- 内容中部 -->
                <div class="tableList">

                    <!-- 内容顶部 -->
                    <div id="top" class="moduleTitle am-cf">
                        <ul class="am-icon-book on"> 调查问卷管理</ul>
                        <dl class="am-icon-home" style="float: right;">当前位置： <a th:href="@{/}">首页</a> >
                            <a th:href="@{/questionnaire/index}">问卷</a>
                        </dl>
                    </div>

                    <!-- 内容正文 -->
                    <!--<div class="qns">
                        <a class="qn" href="#" th:each="map:${questionnaires}">
                            <p class="qntitle" th:text="${map.questionnaire.questionnaireTitle}">问卷标题</p>
                            <p class="qnfutitle" th:text="${map.questionnaire.questionnaireFuTitle}">问卷副标题</p>
                            <p class="qndes" th:text="${map.questionnaire.questionnaireDescription}">问卷描述</p>
                        </a>
                    </div>-->

                    <!-- 内容正文 -->
                    <div class="am-form am-g">
                        <!-- 表格 -->
                        <table width="100%" class="am-table am-table-bordered am-table-radius am-table-striped am-table-hover"
                               style="table-larightt: fixed;">
                            <thead>
                                <tr class="am-success">
                                    <th class="table-check"><input type="checkbox" name="cb[]" id="all" value="all" onclick="setChecked(this)"/></th>
                                    <th class="qnTitle">问卷标题</th>
                                    <th class="qnFuTitle">问卷副标题</th>
                                    <th class="qnDescription">问卷描述</th>

                                    <th class="operating">操作</th>
                                </tr>
                            </thead>
                            <tbody id="items">
                                <tr th:each="map:${questionnaires}">
                                    <td>
                                        <input type="checkbox" name="cb[]" th:value="${map.questionnaire.questionnaireId}"
                                               onclick="setChecked(this)"/>
                                    </td>
                                    <td class="qnTitle">
                                        <a th:href="@{/question/QuestionByQNId(qnId=${map.questionnaire.questionnaireId})}"
                                           th:text="${map.questionnaire.questionnaireTitle}"
                                           th:title="${map.questionnaire.questionnaireTitle}">问卷标题</a>
                                    </td>
                                    <td class="qnFuTitle">
                                        <a th:text="${map.questionnaire.questionnaireFuTitle}" th:title="${map.questionnaire.questionnaireFuTitle}">问卷副标题</a>
                                    </td>
                                    <td class="qnDescription">
                                        <a th:text="${map.questionnaire.questionnaireDescription}"
                                           th:title="${map.questionnaire.questionnaireDescription}">问卷描述</a>
                                    </td>

                                    <td class="operating">
                                        <div class="am-btn-toolbar">
                                            <div class="am-btn-group am-btn-group-xs">
                                                <button class="test1 am-btn am-btn-default am-btn-xs am-text-secondary am-round"
                                                        data-am-modal="{target: '#updateQuestionnaire'}" name="showQuestionnaire"
                                                        onclick="ShowQuestionnaire()"
                                                        title="查看问卷">
                                                    <span class="am-icon-eye"></span>
                                                </button>
                                                <button class="test1 am-btn am-btn-default am-btn-xs am-text-secondary am-round"
                                                        data-am-modal="{target: '#updateQuestionnaire'}" name="updateQuestionnaire"
                                                        onclick="UpdateQuestionnaire()"
                                                        title="修改问卷">
                                                    <span class="am-icon-pencil-square-o"></span>
                                                </button>
                                                <button class="test2 am-btn am-btn-default am-btn-xs am-text-danger am-round"
                                                        data-am-modal="{target: '#updateQuestionnaire'}" name="deleteQuestionnaire"
                                                        onclick="DeleteQuestionnaire()"
                                                        title="删除问卷">
                                                    <span class="am-icon-trash-o"></span>
                                                </button>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <!-- 多个操作按钮 -->
                        <div class="am-btn-group am-btn-group-xs">
                            <button type="button" class="am-btn am-btn-default">
                                <span class="am-icon-plus"></span>
                                <a style="text-decoration: none;color: #4e4e4e;" th:href="@{/questionnaire/addQuestionnaire}"> 新建问卷</a>
                            </button>
                            <button type="button" class="am-btn am-btn-default" id="deleteChoose">
                                <span class="am-icon-trash-o"></span> 删除问卷
                            </button>
                        </div>

                        <!-- 分页 -->
                        <nav class="mt-5" th:if="${pageUtil.rows>0}" th:fragment="pagination">
                            <ul class="pagination justify-content-center">
                                <li class="page-item">
                                    <a class="page-link" th:href="@{${pageUtil.path}(current=1)}">首页</a>
                                </li>
                                <li th:class="|page-item page ${pageUtil.current==1?'disabled':''}|">
                                    <a class="page-link"
                                       th:href="@{${pageUtil.path}(current=${pageUtil.current-1})}">上一页</a>
                                </li>
                                <li th:class="|page-item page ${i==pageUtil.current?'active':''}|"
                                    th:each="i:${#numbers.sequence(pageUtil.from,pageUtil.to)}">
                                    <a class="page-link" th:href="@{${pageUtil.path}(current=${i})}"
                                       th:text="${i}">1</a>
                                </li>
                                <li th:class="|page-item page ${pageUtil.current==pageUtil.total?'disabled':''}|">
                                    <a class="page-link"
                                       th:href="@{${pageUtil.path}(current=${pageUtil.current+1})}">下一页</a>
                                </li>
                                <li class="page-item page">
                                    <a class="page-link"
                                       th:href="@{${pageUtil.path}(current=${pageUtil.getTotal()})}">末页</a>
                                </li>
                            </ul>
                        </nav>

                        <!-- 备注 -->
                        <!--<p>
                            备注：操作图标含义
                            <a class="am-text-success am-icon-file" title="添加子栏目"> 添加子栏目</a>
                            <a class="am-icon-pencil-square-o am-text-secondary" title="修改"> 修改栏目</a>
                            <a class="am-icon-copy am-text-warning" title="复制"> 复制栏目</a>
                            <a class="am-icon-trash-o am-text-danger" title="删除"> 删除栏目</a>

                        </p>-->
                    </div>

                    <!-- 尾部 -->
                    <footer th:fragment="footer">
                        <div class="foods">
                            <ul>版权所有@2021</ul>
                            <dl>
                                <a href="#top" title="返回头部" class="am-icon-btn am-icon-arrow-up"></a>
                            </dl>
                        </div>
                    </footer>
                </div>
            </div>

        </div>

        <!--        <script th:src="@{/assets/js/questionnaire.js}"></script>-->
        <!--        <script src="https://www.jq22.com/jquery/jquery-1.10.2.js"></script>-->
        <!--        <script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>-->
        <!--        <script src="assets/js/polyfill/rem.min.js"></script>-->
        <!--        <script src="assets/js/polyfill/respond.min.js"></script>-->
        <!--        <script src="https://s0.pstatp.com/cdn/expire-1-M/amazeui/2.3.0/js/amazeui.legacy.js"></script>-->
        <script type="text/javascript" th:src="@{/assets/plugins/bootstrap-4.6.0-dist/js/bootstrap.js}"></script>
        <script type="text/javascript" src="https://s0.pstatp.com/cdn/expire-1-M/amazeui/2.3.0/js/amazeui.min.js"></script>
        <script type="text/javascript" th:src="@{/assets/js/message.js}"></script>
        <script type="text/javascript" th:src="@{/assets/js/contextpath.js}"></script>
        <script type="text/javascript" th:src="@{/assets/js/Util.js}"></script>
        <script type="text/javascript" th:src="@{/assets/js/public.js}"></script>
        <script type="text/javascript" th:src="@{/assets/js/questionnaire.js}"></script>
    </body>
</html>