<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <link rel="icon" type="image/x-icon" th:href="@{/assets/img/questionnaire.ico}">
        <link type="text/css" rel="stylesheet" th:href="@{/assets/plugins/bootstrap-4.6.0-dist/css/bootstrap.css}"/>
        <!--        <link type="text/css" rel="stylesheet" th:href="@{/assets/plugins/layui/css/layui.css}"/>-->
        <link rel="stylesheet" href="https://s0.pstatp.com/cdn/expire-1-M/amazeui/2.3.0/css/amazeui.min.css"/>
        <link rel="stylesheet" th:href="@{/assets/css/admin.css}">
        <link rel="stylesheet" th:href="@{/assets/css/userComment.css}">
        <!--        <link rel="stylesheet" th:href="@{/assets/css/sideMenu.css}">-->
        <!--        <link rel="stylesheet" th:href="@{/assets/css/rocketTop.css}">-->
        <script type="text/javascript" th:src="@{/assets/js/jquery-3.6.0.min.js}"></script>
        <!--                <script type="text/javascript" th:src="@{/assets/js/app.js}"></script>-->
        <title>用户留言</title>
    </head>
    <body>
        <!-- 头部 -->
        <header class="am-topbar admin-header" style="margin-bottom: 20px;">
            <div class="am-collapse am-topbar-collapse" id="topbar-collapse">
                <ul class="am-nav am-nav-pills am-topbar-nav admin-header-list">

                    <li class="topFunction" style="margin-right: 640px;">
                        <p class="am-icon-dashboard" style="color:#0071ff;margin-top: -2px;font-size: 20px;margin-right: 10px;">欢迎系统管理员:</p>
                        <p>
                            <select id="userOperating" data-am-selected="{btnWidth: 130, btnSize: 'sm', btnStyle: 'default'}">
                                <option id="onlineUser" value="">在线用户名</option>
                                <option value="personalCenter">个人中心</option>
                                <option value="exit">退出</option>
                            </select>
                        </p>
                    </li>
                </ul>
            </div>
        </header>

        <!-- 中部 -->
        <div class="userComment">
            <div class="left">
                <div class="title">
                    <div>未处理的用户留言</div>
                </div>
                <div class="uc" th:each="map:${untreatedUserComments}">
                    <a th:href="@{/usercomment/content(ucId=${map.userComment.usercommentId})}"
                       th:text="${map.userComment.usercommentContent}"
                       th:title="${map.userComment.usercommentContent}">未处理的用户留言</a>
                </div>
            </div>

            <div class="right">
                <div class="title">
                    <div>已处理的用户留言</div>
                </div>
                <div class="uc" th:each="map:${treatedUserComments}">
                    <a th:href="@{/usercomment/content(ucId=${map.userComment.usercommentId})}"
                       th:text="${map.userComment.usercommentContent}"
                       th:title="${map.userComment.usercommentContent}">已处理的用户留言</a>
                </div>
            </div>

        </div>

        <div class="windowClose">
            <button type="button" class="btn btn-secondary" onclick="windowClose();">关闭</button>
        </div>

        <!-- 尾部 -->
        <footer>
            <div class="foods">
                <ul>版权所有@2021</ul>
            </div>
        </footer>


        <script type="text/javascript" src="https://s0.pstatp.com/cdn/expire-1-M/amazeui/2.3.0/js/amazeui.min.js"></script>
        <!--        <script type="text/javascript" th:src="@{/assets/plugins/layui/layui.js}"></script>-->
        <script type="text/javascript" th:src="@{/assets/js/message.js}"></script>
        <script type="text/javascript" th:src="@{/assets/js/contextpath.js}"></script>
        <!--        <script type="text/javascript" th:src="@{/assets/js/Util.js}"></script>-->
        <script type="text/javascript" th:src="@{/assets/js/public.js}"></script>
        <script type="text/javascript" th:src="@{/assets/js/userComment.js}"></script>
    </body>
</html>