a {
    text-decoration: none !important;
}

.hide {
    display: none;
}

form {
    width: 86%;
    margin: 10% auto;
    max-width: 400px;
    text-align: center;
}

h2 {
    line-height: .8rem;
    font-size: .3rem;
    font-weight: 600;
}

.item {
    width: 100%;
    margin-bottom: 4%;
    line-height: .5rem;
    height: .5rem;
    position: relative;
}

img {
    width: .3rem;
    left: .1rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

input {
    width: 100%;
    height: 100%;
    padding-left: .45rem;
}

.btn-area {
    margin: 5% 0;
}

.login, .register {
    line-height: .4rem;
    width: 100%;
    height: 50px;
    background: blue;
    color: black;
    border-radius: 10px;
    font-size: 25px;
    cursor: pointer;
}

.switch {
    cursor: pointer;
    color: #ffffff;
}

.switch:hover {
    color: #ff9900;
}

.code-btn {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background: #32bd40;
    line-height: .5rem;
    height: .5rem;
    color: #fff;
    cursor: pointer;
}

/*将原有的框改为透明*/
.ma {
    margin-top: 3px;
    width: 16px;
    height: 16px;
    cursor: pointer;
    opacity: 0;
}
/*修改span样式*/
.ma[type=checkbox]+span{
    margin-top: 3px;
    display: inline-block;
    border-radius: 2px;
    width: 16px;
    height: 16px;
    border: .02rem solid #0D1529;
    background-color: transparent;
    position: absolute;
    cursor: pointer;
}
/*点击之后的效果(用伪元素的方法)*/
.ma[type=checkbox]:checked+span::after{
    margin-top: 3px;
    content:'\2714' ;
    color: blue;
    position: absolute;
    font-size: 16px;
    left: 1px;
    bottom: -3px;
}
