a {
    text-decoration: none !important;
}

thead .qTitle {
    min-width: 470px;
    max-width: 470px;
    text-align: center;
}

thead .qDescription {
    min-width: 600px;
    max-width: 600px;
    text-align: center;
}

thead .operating {
    min-width: 150px;
    max-width: 150px;
    text-align: center;
}


tbody .qTitle {
    min-width: 470px;
    max-width: 470px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

tbody .qTitle a {
    text-decoration: none;
}

tbody .qDescription {
    min-width: 600px;
    max-width: 600px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

tbody .operating {
    min-width: 150px;
    max-width: 150px;
    display: flex;
    justify-content: center;
}

.mt-5 .page {
    margin-left: 5px;
}

.txFixedSize1 {
    min-height: 80px;
    max-height: 80px;
    min-width: 820px;
    max-width: 830px;
}

.txFixedSize2 {
    min-height: 120px;
    max-height: 120px;
    min-width: 862px;
    max-width: 862px;
}

.table-check {
    width: 30px
}

/*tjlanmu*/
.Question1 {
    width: 100%;
    margin: 0 auto;
    font-size: 14px;
}

.Question1 .left {
    width: 15%;
    font-size: 20px;
    text-align: left;
    margin-right: 1%;
    float: left;
    line-height: 33px;
    margin-bottom: 10px;
}

.Question1 .right {
    width: 84%;
    float: right;
    margin: 3px 0px;
}

.Question1 .popup-right {
    width: 100%;
    margin-bottom: 10px;
}

.Question1 .popup-right p {
    text-align: center;
}

.Question1 .popup-right p .Btn {
    margin-right: 100px;
}

.Question1 .popup-right .am-btn-primary, .Question1 .popup-right .am-btn-success, .Question1 .popup-right .am-btn-default {
    font-size: 1.4rem !important;
    padding: 1rem 1.8rem;
}

.Question1 .center .am-btn-group .am-selected .am-selected-content ul li span {
    /*text-align: center;*/
    /*margin-left: 53px;*/
    margin-left: 363px;
}

.Question1 .right .am-input-sm {
    font-size: 1.2rem !important
}

.Question1 .am-form-group {
    margin: 4px auto
}

.Question2 {
    width: 100%;
    margin: 0 auto;
    font-size: 14px;
}

.Question2 .left {
    width: 11%;
    font-size: 20px;
    text-align: left;
    margin-right: 1%;
    float: left;
    line-height: 33px;
}

.Question2 .right {
    width: 88%;
    float: right;
}

.Question2 .popup-right {
    width: 100%;
}

.Question2 .popup-right p {
    text-align: center;
}

.Question2 .popup-right p .Btn {
    margin-right: 100px;
}

.Question2 .popup-right .am-btn-danger, .Question2 .popup-right .am-btn-default {
    font-size: 1.4rem !important;
    padding: 1rem 1.8rem;
}

@media all and (min-width: 630px) and (min-height: 630px) {
    .am-popup {
        width: 1030px;
        height: 630px;
        background: #f8f8f8;
        left: 50%;
        top: 50%;
        margin-left: -520px;
        margin-top: -355px;
        -webkit-transform: translateY(1024px);
        -ms-transform: translateY(1024px);
        transform: translateY(1024px)
    }
}

.admin-content .am-popup {
    max-height: 710px;
    border-radius: 4px;
    overflow: hidden;
}

.am-popup-inner {
    padding-top: 30px;
    height: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch
}

.am-popup-hd {
    position: fixed;
    top: 0;
    width: 100%;
    height: 43px;
    border-bottom: 1px solid #dedede;
    background-color: #fff
}

.am-popup-hd .am-popup-title {
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 43px;
    text-align: center;
    margin: 0 30px;
    color: #333;
    display: block;
    word-wrap: normal;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden
}

.am-popup-hd .am-close {
    position: absolute;
    right: 10px;
    top: 8px;
    cursor: pointer;
    -webkit-transition: all .3s;
    transition: all .3s;
    color: #999
}

.am-popup-hd .am-close:hover {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
    color: #555
}

.am-popup-bd {
    padding: 25px;
    background: #f8f8f8;
    color: #555
}