.tableList1 {
    background-color: #f1f2f7;
    right: 0;
    bottom: 0;
    top: 85px;
    left: 0px;
    overflow-y: auto;
    overflow-x: hidden;
}

.tableList2 {
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 20px;
}

/*

.tableList .am-btn-default {
    background-color: #fff;
    border-color: #e6e6e6
}

.tableList .am-btn-default:hover {
    background-color: #e6e6e6
}

.tableList .am-btn {
    padding: .3em 1em
}

.tableList .am-u-sm-12 {
    padding: .3em 0.9em;
    font-size: 14px;
}

.tableList .am-input-zm {
    padding: 3px !important;
    text-align: center;
    font-size: 12px !important;
    text-align: left;
    width: 100px;
    background-color: #fff;
    list-style-type: none;
}

.tableList .am-input-xm {
    padding: 3px !important;
    text-align: center;
    font-size: 12px !important;
    text-align: left;
    width: 100px;
    background-color: #fff;
    list-style-type: none;
    margin-top: 3px;
}

.tableList .am-btn-sm {
    height: 24px;
    font-size: 12px
}

.tableList .am-btn-toolbar .am-selected-list li {
    padding: 2px 8px
}

.tableList .am-btn-toolbar .am-selected-list {
    font-size: 12px !important
}

.tableList .am-btn-toolbars {
    background-color: #fff;
    width: 98%;
    margin: 0 auto;
    padding-top: 5px;
}

.tableList .am-g {
    background-color: #fff;
    width: 98%;
    margin: 0 auto 15px auto;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    padding: 15px .9em 0px 1em;
    font-size: 14px;
}

.tableList .am-tabs {
    background-color: #fff;
    width: 98%;
    margin: 0 auto 15px auto;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    padding: 15px 1em;
    font-size: 14px;
}

.tableList .am-selected-list .am-icon-check {
    top: 2px
}

.tableList .am-table {
    margin-bottom: 0.8rem;
}

.tableList .am-pagination {
    margin: 0;
}

.tableList .am-btn-group {
    z-index: 999
}*/


.questionnaire {
    width: 98%;
    margin: 70px auto 15px auto;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    padding: 20px;
    font-size: 14px;
    background-color: #fff;
    min-height: 400px;
}

.questionnaire .am-form-group {
    margin: 2px auto;
    width: 100%;
}

.questionnaire .left {
    width: 1%;
    text-align: left;
    margin-right: 1%;
    float: left;
    line-height: 33px;
    margin-bottom: 10px
}

.questionnaire .right {
    width: 97%;
    float: right;
    margin-bottom: 10px
}

.questionnaire .QN-Title {
    margin: 20px 100px;
    font-size: 30px;
    color: #01ceb2;
    font-family: cursive;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.questionnaire .QN-FuTitle {
    margin: 10px 70px;
    font-size: 20px;
    color: #00A680;
    font-family: cursive;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.questionnaire .QN-Description {
    margin: 10px 30px;
    font-size: 20px;
    color: #00b180;
    font-family: cursive;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.questionnaire .QNumber {
    width: 1%;
    float: left;
    margin: 10px 0px 10px 20px;
    font-size: 20px;
}

.questionnaire .topic {
    width: 87%;
    float: right;
    margin: 10px 60px 10px 40px;
    font-size: 20px;
}

.questionnaire .topic .qStatus {
    color: red;
}

.questionnaire .radio {
    width: 89%;
    float: right;
    margin: 2px 0px;
}

.questionnaire .radio-mr {
    font-size: 20px;
    font-weight: normal;
    margin-right: 120px;
}

.questionnaire .input-r {
    zoom: 110%;
}

.questionnaire .checkbox {
    width: 89%;
    float: right;
    margin: 2px 0px;
}

.questionnaire .checkbox-mr {
    font-size: 20px;
    font-weight: normal;
    margin-right: 120px;
}

.questionnaire .input-cb {
    zoom: 110%;
}

.questionnaire .fillBlank {
    width: 77%;
    float: left;
    margin: 2px 120px;
}

.questionnaire .fillBlank textarea {
    min-height: 50px;
    max-height: 200px;
}

.questionnaire .score {
    width: 77%;
    float: left;
    margin: 2px 120px;
}

.questionnaire .score span {
    font-size: 20px;
    color: #FFB800;
    margin-top: -15px;
}

.questionnaire .userComments {
    width: 87%;
    float: right;
    margin: 10px 60px 10px 40px;
    font-size: 20px;
}