.userComment {
    width: 1400px;
    height: auto;
    text-align: center;
    margin: auto;
}

.userComment .left {
    float: left;
    width: 49%;
    height: 90%;
    border: 2px solid red;
    border-radius: 10px;
}

.userComment .right {
    float: right;
    width: 49%;
    height: 90%;
    border: 2px solid blue;
    border-radius: 10px;
}

.userComment .title {
    font-family: cursive;
    font-size: 30px;
    color: black;
}

.userComment .left .uc {
    font-family: cursive;
    font-size: 20px;
    margin: 5px 0px 0px 0px;
    border-top: 1px solid red;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.userComment .right .uc {
    font-family: cursive;
    font-size: 20px;
    margin: 5px 0px 0px 0px;
    border-top: 1px solid blue;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.userComment .left .uc a {
    color: red;
    transition: 0.5s;
    text-decoration: none;
}

.userComment .right .uc a {
    color: blue;
    transition: 0.5s;
    text-decoration: none;
}

.userComment .uc a:hover {
    color: black;
}

.windowClose {
    width: 1545px;
    height: auto;
    text-align: center;
    margin: 25px 0px 0px 0px;
    float: left;
}

.windowClose button {
    font-size: 15px;
}

.foods {
    margin-top: 25px;
    width: 100%;
    background-color: #5b6e84;
    height: 43px;
    float: left;
    text-align: center;
    font-size: 12px;
    line-height: 43px;
    color: #fff;
    overflow: hidden;
}