<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wjs.questionnaire.mapper.AnswerMapper">

    <!-- 查询 answer 表所有字段 -->
    <!--<sql id="selectAnswerFields">
        answer_id, user_id, questionnaire_id, question_id, questiontype_id, option_id, option_content, answer_create_time
    </sql>-->
    <sql id="selectAnswerFields">
        a.answer_id, a.user_id, a.questionnaire_id, a.question_id, a.questiontype_id, a.option_id, a.option_content, a.answer_create_time
    </sql>

    <!-- 获取当前登录用户是否已经填写该问卷（有数据：已填写，无数据：未填写） -->
    <!-- AnswerEntity findAnswerByUserIdAndQNId(String userId, String qnId); -->
    <select id="findAnswerByUserIdAndQNId" resultType="AnswerEntity">
        <!--SELECT
        <include refid="selectAnswerFields"></include>
        FROM `answer` a
        WHERE a.user_id = #{userId}
        AND a.question_id =
        (SELECT q.question_id
        FROM `question` q
        WHERE q.questionnaire_id = #{qnId}
        AND q.question_status = 1
        ORDER BY q.question_create_time ASC
        LIMIT 1);-->

        SELECT
        <include refid="selectAnswerFields"></include>
        FROM `answer` a
        WHERE a.user_id = #{userId}
        AND a.questionnaire_id = #{qnId}
        GROUP BY a.questionnaire_id;
    </select>

    <!-- 获取当前登录用户填写的该问卷的回答信息 -->
    <!-- List<AnswerEntity> findAllAnswerByUserIdAndQNId(String userId, String qnId); -->
    <select id="findAllAnswerByUserIdAndQNId" resultType="AnswerEntity">
        <!--SELECT
        <include refid="selectAnswerFields"></include>
        FROM `answer` a
        WHERE a.user_id = #{userId}
        AND a.question_id IN
        (SELECT q.question_id
        FROM `question` q
        WHERE q.questionnaire_id = #{qnId})
        ORDER BY a.answer_create_time ASC;-->

        SELECT
        <include refid="selectAnswerFields"></include>
        FROM `answer` a
        WHERE a.user_id = #{userId}
        AND a.questionnaire_id = #{qnId}
        ORDER BY a.answer_create_time ASC;
    </select>

    <!-- 获取填写该问卷的人数 -->
    <!-- List<AnswerEntity> findWriteQuestionnaireNumberByQNId(String qnId); -->
    <select id="findWriteQuestionnaireNumberByQNId" resultType="AnswerEntity">
        SELECT
        <include refid="selectAnswerFields"></include>
        FROM `answer` a
        WHERE a.questionnaire_id = #{qnId}
        GROUP BY a.user_id;
    </select>

    <!-- 获取 该问题的回答列表 -->
    <!-- List<AnswerEntity> findOptionsNumberByQNIdAndQId(String qnId, String qId); -->
    <select id="findOptionsNumberByQNIdAndQId" resultType="AnswerEntity">
        <!--SELECT
        <include refid="selectAnswerFields"></include>
        FROM `answer` a
        WHERE a.questionnaire_id = #{qnId}
        AND a.question_id = #{qId}
        ORDER BY a.answer_create_time ASC-->

        SELECT
        <include refid="selectAnswerFields"></include>
        FROM `answer` a ,`option` o
        WHERE a.questionnaire_id = #{qnId}
        AND a.question_id = #{qId}
        AND a.option_id = o.option_id
        ORDER BY o.option_create_time ASC
    </select>

    <!-- 保存回答信息 -->
    <!-- int insertAnswer(AnswerEntity a); -->
    <insert id="insertAnswer" parameterType="AnswerEntity">
        INSERT INTO `answer`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="answerId != null">
                answer_id,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="questionnaireId != null">
                questionnaire_id,
            </if>
            <if test="questionId != null">
                question_id,
            </if>
            <if test="questiontypeId != null">
                questiontype_id,
            </if>
            <if test="optionId != null">
                option_id,
            </if>
            <if test="optionContent != null">
                option_content,
            </if>
            <if test="answerCreateTime != null">
                answer_create_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="answerId != null">
                #{answerId},
            </if>
            <if test="userId != null">
                #{userId},
            </if>
            <if test="questionnaireId != null">
                #{questionnaireId},
            </if>
            <if test="questionId != null">
                #{questionId},
            </if>
            <if test="questiontypeId != null">
                #{questiontypeId},
            </if>
            <if test="optionId != null">
                #{optionId},
            </if>
            <if test="optionContent != null">
                #{optionContent},
            </if>
            <if test="answerCreateTime != null">
                #{answerCreateTime},
            </if>
        </trim>
    </insert>

    <!-- 根据 userId 和 qnId 删除回答信息 -->
    <!-- int deleteAnswerByUserIdAndQNId(String userId, String qnId); -->
    <delete id="deleteAnswerByUserIdAndQNId" parameterType="AnswerEntity">
        DELETE FROM `answer` a
        WHERE a.user_id = #{userId}
        AND a.questionnaire_id = #{qnId}
    </delete>

</mapper>
