<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wjs.questionnaire.mapper.OptionMapper">

    <!-- 查询 option 表所有字段 -->
    <sql id="selectOptionFields">
        option_id, option_content, question_id, option_create_time
    </sql>

    <!-- 插入 option 表字段 -->
    <sql id="insertOptionFields">
        option_id, option_content, question_id, option_create_time
    </sql>

    <!-- 获取所有选项信息列表 -->
    <!-- List<OptionEntity> findAllOptionList(); -->
    <select id="findAllOptionList" resultType="OptionEntity">
        SELECT
        <include refid="selectOptionFields"></include>
        FROM `option`
        ORDER BY option_create_time DESC
    </select>

    <!-- 根据 qId 查询当前问题的所有选项 -->
    <!-- List<OptionEntity> findOptionByQId(String qId); -->
    <select id="findOptionByQId" resultType="OptionEntity">
        SELECT
        <include refid="selectOptionFields"></include>
        FROM `option`
        WHERE question_id = #{questionId}
        ORDER BY option_create_time ASC
    </select>

    <!-- 根据 oId 查询选项信息 -->
    <!-- OptionEntity findOptionByOId(String oId); -->
    <select id="findOptionByOId" resultType="OptionEntity">
        SELECT
        <include refid="selectOptionFields"></include>
        FROM `option`
        WHERE option_id = #{oId}
    </select>

    <!-- 保存选项信息 -->
    <!-- int insertOption(OptionEntity q); -->
    <insert id="insertOption" parameterType="OptionEntity">
        INSERT INTO `option`(<include refid="insertOptionFields"></include>)
        VALUES(#{optionId}, #{optionContent}, #{questionId}, #{optionCreateTime})
    </insert>

    <!-- 删除选项信息 -->
    <!-- int deleteOptionByOId(String oId); -->
    <delete id="deleteOptionByOId" parameterType="OptionEntity">
    DELETE FROM `option`
    WHERE option_id = #{oId}
    </delete>

</mapper>
