<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wjs.questionnaire.mapper.QuestionnaireMapper">

    <!-- 查询 questionnaire 表所有字段 -->
    <sql id="selectQuestionnaireFields">
        questionnaire_id, questionnaire_title, questionnaire_fu_title,
        questionnaire_description, questionnaire_full_count, questionnaire_status,
        questionnaire_create_time, questionnaire_start_time, questionnaire_end_time, questionnaire_delete_time, user_id
    </sql>

    <!-- 插入 questionnaire 表字段 -->
    <sql id="insertQuestionnaireFields">
        questionnaire_id, questionnaire_title, questionnaire_fu_title,
        questionnaire_description, questionnaire_status, questionnaire_create_time, user_id
    </sql>

    <!-- 获取所有问卷信息列表 -->
    <!-- List<QuestionnaireEntity> findAllQuestionnaireList(); -->
    <select id="findAllQuestionnaireList" resultType="QuestionnaireEntity">
        SELECT
        <include refid="selectQuestionnaireFields"></include>
        FROM `questionnaire`
        ORDER BY questionnaire_create_time DESC
    </select>

    <!-- 获取所有问卷信息列表的行数 -->
    <!-- int findAllQuestionnaireRows(); -->
    <select id="findAllQuestionnaireRows" resultType="int">
        SELECT COUNT(questionnaire_id)
        FROM `questionnaire`
    </select>

    <!-- 获取所有问卷信息列表 -->
    <!-- List<QuestionnaireEntity> findAllQuestionnairePage(int offset, int limit); -->
    <select id="findAllQuestionnairePage" resultType="QuestionnaireEntity">
        SELECT
        <include refid="selectQuestionnaireFields"></include>
        FROM `questionnaire`
        ORDER BY questionnaire_create_time DESC
        LIMIT #{offset}, #{limit}
    </select>

    <!-- 获取模糊查询 问卷标题 的问卷信息列表的行数 -->
    <!-- int findLikeQuestionnaireRowsByQnTitle(String qnTitle); -->
    <select id="findLikeQuestionnaireRowsByQnTitle" resultType="int">
        SELECT COUNT(questionnaire_id)
        FROM `questionnaire`
        WHERE questionnaire_title LIKE CONCAT(CONCAT('%',#{qnTitle},'%'))
    </select>

    <!-- 获取模糊查询 问卷标题 的问卷信息列表（分页） -->
    <!-- List<QuestionnaireEntity> findLikeQuestionnairePageByQnTitle(String qnTitle, int offset, int limit); -->
    <select id="findLikeQuestionnairePageByQnTitle" resultType="QuestionnaireEntity">
        SELECT
        <include refid="selectQuestionnaireFields"></include>
        FROM `questionnaire`
        WHERE questionnaire_title LIKE CONCAT(CONCAT('%',#{qnTitle},'%'))
        ORDER BY questionnaire_create_time DESC
        LIMIT #{offset}, #{limit}
    </select>

    <!-- 根据 qnId 得到问卷信息 -->
    <!-- QuestionnaireEntity findQuestionnaireByQnId(String qnId); -->
    <select id="findQuestionnaireByQnId" resultType="QuestionnaireEntity">
        SELECT
        <include refid="selectQuestionnaireFields"></include>
        FROM `questionnaire`
        WHERE questionnaire_id = #{questionnaireId}
    </select>

    <!-- 保存问卷信息 -->
    <!-- int insertQuestionnaire(QuestionnaireEntity qn); -->
    <insert id="insertQuestionnaire" parameterType="QuestionnaireEntity">
        INSERT INTO `questionnaire`(<include refid="insertQuestionnaireFields"></include>)
        VALUES(#{questionnaireId}, #{questionnaireTitle}, #{questionnaireFuTitle}, #{questionnaireDescription}, #{questionnaireStatus},
        #{questionnaireCreateTime}, #{userId})
    </insert>

    <!-- 更新问卷信息 -->
    <!-- int updateQuestionnaireByQNId(QuestionnaireEntity qn); -->
    <update id="updateQuestionnaireByQNId" parameterType="QuestionnaireEntity">
        UPDATE `questionnaire`
        <set>
            <if test="questionnaireTitle != null">
                questionnaire_title = #{questionnaireTitle},
            </if>
            <if test="questionnaireFuTitle != null">
                questionnaire_fu_title = #{questionnaireFuTitle},
            </if>
            <if test="questionnaireDescription != null">
                questionnaire_description = #{questionnaireDescription},
            </if>
            <if test="questionnaireFullCount != null">
                questionnaire_full_count = #{questionnaireFullCount},
            </if>
            <if test="questionnaireStatus != null">
                questionnaire_status = #{questionnaireStatus},
            </if>
            <if test="questionnaireCreateTime != null">
                questionnaire_create_time = #{questionnaireCreateTime},
            </if>
            <if test="questionnaireStartTime != null">
                questionnaire_start_time = #{questionnaireStartTime},
            </if>
            <if test="questionnaireEndTime != null">
                questionnaire_end_time = #{questionnaireEndTime},
            </if>
            <if test="questionnaireDeleteTime != null">
                questionnaire_delete_time = #{questionnaireDeleteTime},
            </if>
            <if test="userId != null">
                user_id = #{userId},
            </if>
        </set>
        WHERE questionnaire_id = #{questionnaireId}
    </update>

    <!-- 删除问卷信息 -->
    <!-- int deleteQuestionnaireByQNId(String qnId); -->
    <delete id="deleteQuestionnaireByQNId" parameterType="QuestionnaireEntity">
    DELETE FROM `questionnaire`
    WHERE questionnaire_id = #{qnId}
    </delete>

</mapper>
