<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wjs.questionnaire.mapper.QuestionMapper">

    <!-- 查询 question 表所有字段 -->
    <sql id="selectQuestionFields">
        question_id, question_title, question_description,
        question_status, pre_question_id, pre_option_id,
        questionnaire_id, questiontype_id, question_create_time
    </sql>

    <!-- 插入 question 表字段 -->
    <sql id="insertQuestionFields">
        question_id, question_title, question_description,
        question_status,
        questionnaire_id, questiontype_id, question_create_time
    </sql>

    <!-- 插入 question 表字段 -->
    <sql id="insertQuestionsFields">
        question_id, question_title, question_description,
        question_status, pre_question_id, pre_option_id,
        questionnaire_id, questiontype_id, question_create_time
    </sql>

    <!-- 获取所有问卷的所有问题信息列表（不分页） -->
    <!-- List<QuestionEntity> findAllQuestionList(); -->
    <select id="findAllQuestionList" resultType="QuestionEntity">
        SELECT
        <include refid="selectQuestionFields"></include>
        FROM `question`
        ORDER BY question_create_time DESC
    </select>

    <!-- 获取所有问卷的所有问题信息列表的行数 -->
    <!-- int findQuestionRows(); -->
    <select id="findQuestionRows" resultType="int">
        SELECT COUNT(question_id)
        FROM `question`
    </select>

    <!-- 获取所有问卷的所有问题信息列表（分页） -->
    <!-- List<QuestionEntity> findAllQuestionPage(int offset, int limit); -->
    <select id="findAllQuestionPage" resultType="QuestionEntity">
        SELECT
        <include refid="selectQuestionFields"></include>
        FROM `question`
        ORDER BY question_create_time DESC
        LIMIT #{offset}, #{limit}
    </select>

    <!-- 根据 qnId 查询当前问卷的所有问题（不分页） -->
    <!-- List<QuestionEntity> findAllQuestionByQnId(String qnId); -->
    <select id="findAllQuestionByQnId" resultType="QuestionEntity">
        SELECT
        <include refid="selectQuestionFields"></include>
        FROM `question`
        WHERE questionnaire_id = #{questionnaireId}
        ORDER BY question_create_time ASC
    </select>

    <!-- 根据 qnId 查询当前问卷的所有问题的行数 -->
    <!-- int findQuestionRowsByQnId(String qnId); -->
    <select id="findQuestionRowsByQnId" resultType="int">
        SELECT COUNT(question_id)
        FROM `question`
        WHERE questionnaire_id = #{qnId}
    </select>

    <!-- 根据 qnId 查询当前问卷的所有问题（分页） -->
    <!-- List<QuestionEntity> findQuestionPageByQnId(String qnId, int offset, int limit); -->
    <select id="findQuestionPageByQnId" resultType="QuestionEntity">
        SELECT
        <include refid="selectQuestionFields"></include>
        FROM `question` q
        WHERE q.questionnaire_id = #{qnId}
        ORDER BY q.question_create_time ASC
        LIMIT #{offset}, #{limit}
    </select>

    <!-- 根据 qnId 查询当前问卷未被前置的问题的行数 -->
    <!-- int findNoPrependedQuestionRowsByQnId(String qnId); -->
    <select id="findNoPrependedQuestionRowsByQnId" resultType="int">
        <!-- 查询未被前置的问题的行数 法一 -->
        SELECT COUNT(question_id)
        FROM `question` q2
        WHERE q2.question_id NOT IN
        (SELECT q1.pre_question_id
        FROM `question` q1
        WHERE q1.questionnaire_id = #{qnId}
        AND q1.pre_question_id IS NOT NULL)
        AND q2.questionnaire_id = #{qnId}

        <!-- 查询未被前置的问题的行数 法二 -->
        <!--SELECT COUNT(question_id)
        FROM `question` q2
        WHERE NOT EXISTS
        (SELECT q1.pre_question_id
        FROM `question` q1
        WHERE q1.questionnaire_id = #{qnId}
        AND q1.pre_question_id IS NOT NULL
        AND q1.pre_question_id = q2.question_id)
        AND q2.questionnaire_id = #{qnId}-->
    </select>

    <!-- 根据 qnId 查询当前问卷未被前置的问题（分页） -->
    <!-- List<QuestionEntity> findNoPrependedQuestionPageByQnId(String qnId, int offset, int limit); -->
    <select id="findNoPrependedQuestionPageByQnId" resultType="QuestionEntity">
        <!-- 查询未被前置的问题 法一 -->
        SELECT
        <include refid="selectQuestionFields"></include>
        FROM `question` q2
        WHERE q2.question_id NOT IN
        (SELECT q1.pre_question_id
        FROM `question` q1
        WHERE q1.questionnaire_id = #{qnId}
        AND q1.pre_question_id IS NOT NULL)
        AND q2.questionnaire_id = #{qnId}
        ORDER BY q2.question_create_time ASC
        LIMIT #{offset}, #{limit}

        <!-- 查询未被前置的问题 法二 -->
        <!--SELECT
        <include refid="selectQuestionFields"></include>
        FROM `question` q2
        WHERE NOT EXISTS
        (SELECT q1.pre_question_id
        FROM `question` q1
        WHERE q1.questionnaire_id = #{qnId}
        AND q1.pre_question_id IS NOT NULL
        AND q1.pre_question_id = q2.question_id)
        AND q2.questionnaire_id = #{qnId}
        ORDER BY q2.question_create_time ASC
        LIMIT #{offset}, #{limit}-->
    </select>

    <!-- 根据 qnId 查询当前问卷被前置的问题的行数 -->
    <!-- int findPrependedQuestionRowsByQnId(String qnId); -->
    <select id="findPrependedQuestionRowsByQnId" resultType="int">
        <!-- 查询被前置的问题的行数 法一 -->
        SELECT COUNT(question_id)
        FROM `question` q2
        WHERE q2.question_id IN
        (SELECT q1.pre_question_id
        FROM `question` q1
        WHERE q1.questionnaire_id = #{qnId}
        AND q1.pre_question_id IS NOT NULL)
        AND q2.questionnaire_id = #{qnId}

        <!-- 查询被前置的问题的行数 法二 -->
        <!--SELECT COUNT(question_id)
        FROM `question` q2
        WHERE EXISTS
        (SELECT q1.pre_question_id
        FROM `question` q1
        WHERE q1.questionnaire_id = #{qnId}
        AND q1.pre_question_id IS NOT NULL
        AND q1.pre_question_id = q2.question_id)
        AND q2.questionnaire_id = #{qnId}-->
    </select>

    <!-- 根据 qnId 查询当前问卷被前置的问题（分页） -->
    <!-- List<QuestionEntity> findPrependedQuestionPageByQnId(String qnId, int offset, int limit); -->
    <select id="findPrependedQuestionPageByQnId" resultType="QuestionEntity">
        <!-- 查询被前置的问题 法一 -->
        SELECT
        <include refid="selectQuestionFields"></include>
        FROM `question` q2
        WHERE q2.question_id IN
        (SELECT q1.pre_question_id
        FROM `question` q1
        WHERE q1.questionnaire_id = #{qnId}
        AND q1.pre_question_id IS NOT NULL)
        AND q2.questionnaire_id = #{qnId}
        ORDER BY q2.question_create_time ASC
        LIMIT #{offset}, #{limit}

        <!-- 查询被前置的问题 法二 -->
        <!--SELECT
        <include refid="selectQuestionFields"></include>
        FROM `question` q2
        WHERE EXISTS
        (SELECT q1.pre_question_id
        FROM `question` q1
        WHERE q1.questionnaire_id = #{qnId}
        AND q1.pre_question_id IS NOT NULL
        AND q1.pre_question_id = q2.question_id)
        AND q2.questionnaire_id = #{qnId}
        ORDER BY q2.question_create_time ASC
        LIMIT #{offset}, #{limit}-->
    </select>

    <!-- 根据 qId 查询指定的问题 -->
    <!-- QuestionEntity findQuestionByQId(String qId); -->
    <select id="findQuestionByQId" resultType="QuestionEntity">
        SELECT
        <include refid="selectQuestionFields"></include>
        FROM `question` q1
        WHERE q1.question_id = #{qId}
    </select>

    <!-- 如果当前问题有前置问题，则找到当前问题的前置问题 -->
    <!-- QuestionEntity findPrependedQuestionByQId(String qId); -->
    <select id="findPrependedQuestionByQId" resultType="QuestionEntity">
        SELECT *
        FROM `question` q2
        WHERE q2.question_id IN
        (SELECT q1.pre_question_id
        FROM `question` q1
        WHERE q1.question_id = #{qId})
    </select>

    <!-- 如果当前问题是被前置问题，则找到当前问题的后置问题 -->
    <!-- QuestionEntity findRearQuestionByQId(String qId); -->
    <select id="findRearQuestionByQId" resultType="QuestionEntity">
        SELECT *
        FROM `question` q2
        WHERE q2.pre_question_id IN
        (SELECT q1.question_id
        FROM `question` q1
        WHERE q1.question_id = #{qId})
    </select>

    <!-- 保存问题信息 -->
    <!-- int insertQuestion(QuestionEntity qn); -->
    <insert id="insertQuestion" parameterType="QuestionEntity">
        INSERT INTO `question`(<include refid="insertQuestionFields"></include>)
        VALUES(#{questionId}, #{questionTitle}, #{questionDescription}, #{questionStatus}, #{questionnaireId}, #{questiontypeId},
        #{questionCreateTime})
    </insert>

    <!-- 保存问题信息 -->
    <!-- int insertQuestions(QuestionEntity qn); -->
    <insert id="insertQuestions" parameterType="QuestionEntity">
        INSERT INTO `question`(<include refid="insertQuestionsFields"></include>)
        VALUES(#{questionId}, #{questionTitle}, #{questionDescription}, #{questionStatus}, #{preQuestionId}, #{preOptionId},
        #{questionnaireId}, #{questiontypeId}, #{questionCreateTime})
    </insert>

    <!-- 保存问题信息 -->
    <!-- int insertQuestionS(QuestionEntity q); -->
    <insert id="insertQuestionS" parameterType="QuestionEntity">
        INSERT INTO `question`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="questionId != null">
                question_id,
            </if>
            <if test="questionTitle != null">
                question_title,
            </if>
            <if test="questionDescription != null">
                question_description,
            </if>
            <if test="questionStatus != null">
                question_status,
            </if>
            <if test="preQuestionId != null">
                pre_question_id,
            </if>
            <if test="preOptionId != null">
                pre_option_id,
            </if>
            <if test="questionnaireId != null">
                questionnaire_id,
            </if>
            <if test="questiontypeId != null">
                questiontype_id,
            </if>
            <if test="questionCreateTime != null">
                question_create_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="questionId != null">
                #{questionId},
            </if>
            <if test="questionTitle != null">
                #{questionTitle},
            </if>
            <if test="questionDescription != null">
                #{questionDescription},
            </if>
            <if test="questionStatus != null">
                #{questionStatus},
            </if>
            <if test="preQuestionId != null">
                #{preQuestionId},
            </if>
            <if test="preOptionId != null">
                #{preOptionId},
            </if>
            <if test="questionnaireId != null">
                #{questionnaireId},
            </if>
            <if test="questiontypeId != null">
                #{questiontypeId},
            </if>
            <if test="questionCreateTime != null">
                #{questionCreateTime},
            </if>
        </trim>
    </insert>

    <!-- 更新问题信息 -->
    <!-- int updateQuestion(QuestionEntity q); -->
    <update id="updateQuestion" parameterType="QuestionEntity">
        UPDATE `question` SET
        question_title = #{questionTitle},
        question_description = #{questionDescription},
        question_status = #{questionStatus},
        questiontype_id = #{questiontypeId},
        question_create_time = #{questionCreateTime}
        WHERE questionnaire_id = #{questionnaireId}
        AND question_id = #{questionId}
    </update>

    <!-- 更新问题信息 -->
    <!-- int updateQuestions(QuestionEntity q); -->
    <update id="updateQuestions" parameterType="QuestionEntity">
        UPDATE `question` SET
        question_title = #{questionTitle},
        question_description = #{questionDescription},
        question_status = #{questionStatus},
        pre_question_id = #{preQuestionId},
        pre_option_id = #{preOptionId},
        questiontype_id = #{questiontypeId},
        question_create_time = #{questionCreateTime}
        WHERE questionnaire_id = #{questionnaireId}
        AND question_id = #{questionId}
    </update>

    <!-- 更新问题信息 -->
    <!-- int updateQuestionByQId(QuestionEntity q); -->
    <update id="updateQuestionByQId" parameterType="QuestionEntity">
        UPDATE `question`
        <set>
            <if test="questionTitle != null">
                question_title = #{questionTitle},
            </if>
            <if test="questionDescription != null">
                question_description = #{questionDescription},
            </if>
            <if test="questionStatus != null">
                question_status = #{questionStatus},
            </if>
            <if test="preQuestionId != null">
                pre_question_id = #{preQuestionId},
            </if>
            <if test="preOptionId != null">
                pre_option_id = #{preOptionId},
            </if>
            <if test="questionnaireId != null">
                questionnaire_id = #{questionnaireId},
            </if>
            <if test="questiontypeId != null">
                questiontype_id = #{questiontypeId},
            </if>
            <if test="questionCreateTime != null">
                question_create_time = #{questionCreateTime},
            </if>
        </set>
        WHERE question_id = #{questionId}
    </update>

    <!-- 删除问题信息 -->
    <!-- int deleteQuestionByQId(String qId); -->
    <delete id="deleteQuestionByQId" parameterType="QuestionEntity">
    DELETE FROM `question`
    WHERE question_id = #{qId}
    </delete>

</mapper>
